.row-container{
    display: flex;
}
.wordle-cell{
    padding: 1px;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    text-align: center;
    text-transform: uppercase;
    caret-color: transparent;
    border: 1px solid #FAEBE0;
    border-radius: 3px;
    margin: 3px;
}

.green{
    background-color: #03C988;
}
.grey{
    background-color: #464660;
}
.yellow{
    background-color: #FFB26B;
    
}

.keyboard-container{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.keyboard-key{
    height: 50px;
    width: 60px;
    border: 2px solid #FAEBE0;
    margin: 2px;
    border-radius: 3px;
text-transform: capitalize;
}
.keyboard-container__row{
    display: flex;
    justify-content: center;
}

.modal{
    min-width: 150px;
    width: auto;
    height: 30px;
    border-radius: 10px;
    animation: modal 0.8s;
    position: absolute;
    top: 10%;
    /* left: 50%; */
    display: flex;
    /* transform: translateX(-50%,0%); */
    background-color: white;
    padding: 10px;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}
.keyboard-key.special{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
@media only screen and (max-width: 600px) {
    .keyboard-container{
        position: absolute;
        bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .keyboard-key{
        height: 40px;
        width: 30px;
        border: 2px solid grey;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .keyboard-key.special{
        width: 50px;
    }
  }


  @keyframes modal {
    0% {
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
  }